.cabinet {
    width: 50px;
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    background: transparent;
    padding: 25px 0px;
}

.inputs {
    width: 150px;
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.cabinet:focus {
    outline: none;
    box-shadow: 2px 2px 15px #8707ff inset;
}

.inputs:focus {
    outline: none;
    box-shadow: 2px 2px 15px #8707ff inset;
}